{% extends 'base.html' %}
{% load static %}

{% block title %}create news{% endblock %}

{% block content %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active text-dark" aria-current="page" href="{% url "news:all_news" %}"><b>Voir les actualités</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-dark" aria-current="page" href="{% url "news:my_news" %}"><b>Gérer mes publications</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url "news:create_news" %}"><b>Créer une publication</b></a>
  </li>
</ul>


<div class="m-4">
  <a class="text-dark" href="{% url "news:all_news" %}"><b>Retour</b></a>
</div>

<div class= "container">
  <br>
  <h1 class="font-title text-center pb-2"><b>Créer un article</b></h1>
  <div class="container bg-white p-4 rounded">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label">Titre de l'article :</label>
            <input type="text" name="title" class="form-control" id="title" required>
            <div id="title" class="form-text">Ajouter un titre à votre article</div>
          </div>
        
          <div class="mb-3">
            <label for="content" class="form-label">Contenu de l'article :</label>
            <textarea type="text" name="content" class="form-control" id="content" required></textarea>
            <div id="content" class="form-text">Ajouter le contenu de votre article</div>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="picture">Importer une image (optionnel)</label>
            <input type="file" class="form-control" id="picture" name="picture">
          </div>

        <button type="submit" class="btn btn-dark"><b>Publier l'article</b></button>
    </form>

  </div>
</div>

{% endblock %}