{% extends 'base.html' %}

{% block content %}
  <div class="profile-container">
    <h1>Profil de {{ user.username }}</h1>

    <div class="profile-details">
      <div class="profile-picture">
        {% if user.profile_picture %}
          <img src="{{ user.profile_picture.url }}" alt="Photo de profil" class="profile-img">
        {% endif %}
      </div>

      <div class="profile-info">
        <p><strong>Nom de l'entreprise :</strong> {{ user.username }}</p>
        <p><strong>Prénom :</strong> {{ user.first_name }}</p>
        <p><strong>Nom :</strong> {{ user.last_name }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Numéro de téléphone :</strong> {{ user.phone_number }}</p>
      </div>
    </div>
    <div class="profile-actions">
      <a href="{% url 'accounts:user_edit' pk=request.user.id %}" class="btn btn-primary">Modifier le profil</a>
    </div>
  </div>
{% endblock %}
