{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">  <b>A loan in the dark</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture" class="rounded-circle" width="40" height="40">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:all_news' %}">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat:chat_room' %}">Chat</a> 
                </li>
                <li class="nav-item">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <form action="{% url 'accounts:login' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link">Login</button>
                    </form>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>